<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Member</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Edit Member</h1>
<div th:if="${errorMessage}" class="error">
    <p th:text="${errorMessage}"></p>
</div>
<form action="#" th:action="@{/members/update/{id}(id=${member.id})}" th:object="${member}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br />

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" /><br />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br />

    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" th:field="*{phoneNumber}" /><br />
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span><br />

    <input type="submit" value="Update" />
</form>
<a th:href="@{/members/}">Back to Member List</a>
</body>
</html>