<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
    <div class="container">
        <h1>Member List</h1>
        <a th:href="@{/mvc/members/add}" class="button">Add New Member</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.phoneNumber}"></td>
                    <td>
                        <a th:href="@{/mvc/members/edit/{id}(id=${member.id})}" class="button">Edit</a>
                        <a th:href="@{/mvc/members/delete/{id}(id=${member.id})}" class="button button-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>