<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Member List</h1>
<a th:href="@{/members/add}">Add New Member</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.name}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.phoneNumber}"></td>
        <td>
            <a th:href="@{/members/edit/{id}(id=${member.id})}">Edit</a>
            <a th:href="@{/members/delete/{id}(id=${member.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>