<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Edit Book</h1>
<form action="#" th:action="@{/books/update/{id}(id=${book.id})}" th:object="${book}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}" /><br />

    <label for="author">Author:</label>
    <input type="text" id="author" th:field="*{author}" /><br />

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" th:field="*{isbn}" /><br />

    <label for="publishYear">Publish Year:</label>
    <input type="date" id="publishYear" th:field="*{publishYear}" /><br />

    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}"></textarea><br />

    <label for="totalCopies">Total Copies:</label>
    <input type="number" id="totalCopies" th:field="*{totalCopies}" /><br />

    <label for="availableCopies">Available Copies:</label>
    <input type="number" id="availableCopies" th:field="*{availableCopies}" /><br />

    <label for="shelfNumber">Shelf Number:</label>
    <input type="number" id="shelfNumber" th:field="*{shelfNumber}" /><br />

    <input type="submit" value="Update" />
</form>
<a th:href="@{/books/}">Back to Book List</a>
</body>
</html>