<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <h1>Fine List</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Borrow Record ID</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fine : ${fines}">
            <td th:text="${fine.id}"></td>
            <td th:text="${fine.record.id}"></td>
            <td th:text="${fine.amount}"></td>
            <td th:text="${fine.isPaid} ? 'Yes' : 'No'"></td>
            <td>
                <a th:href="@{/mvc/fines/pay/{id}(id=${fine.id})}" class="button" th:if="${!fine.isPaid}">Pay</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>